.about h1 {
  display: block;
  margin: 20px 0 50px;
  /* border: solid red 1px; */
  width: 100%;
  text-align: center;
}

.about .text-blocks {
  /* border: solid red 1px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: url("./images/green.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 45% 50%; */
}

.about .text-blocks .text-block {
  display: flex;
  margin: 0 auto;
  /* border: solid red 1px; */
  flex-direction: row-reverse;
  margin-bottom: 20px;
  align-items: center;
}

.about .text-blocks .text-block:last-child {
  margin-bottom: 0;
}

.about .text-blocks .text-block h2 {
  /* border: solid green 1px; */
  display: inline-block;
  margin: 0;
}

.about .text-blocks .text-block .content {
  margin-left: 200px;
}

.about .text-blocks .text-block .content:nth-child(2) {
  margin-right: 200px;
  margin-left: 0;
}

.about .text-blocks .text-block .content p {
  width: 300px;
  height: 200px;
  /* border: solid red 1px; */
  /* margin: 0 ; */

}

.about .text-blocks .text-block img {
  /* border: solid blue 2px; */
  width:300px;
  height: 300px;
  background-color: gray;
}
