body {
  font-family: 'Noto Sans TC', sans-serif;
}

header.header nav ul li:nth-child(6) a{
  color: #afbf0b;
}

main.main {
  width: 1200px;
  margin: 0 auto;
  display: block;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  main.main {
    width: 768px;
  }
}

@media all and (max-width: 767.98px) {
  main.main {
    width: 576px;
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 575.98px) {
  main.main {
    width: 375px;
    padding: 0 10px;
    border: solid red 1px;
  }
}

main.main h1 {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

main.main .map {
  /* border: solid red 1px; */
  display: inline-block;
  margin-right: 50px;
}

main.main .map iframe {
  width: 600px;
  height: 570px;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  main.main .map {
    margin: 0 5px 0 0;
    /* border: solid red 1px; */
  }

  main.main .map iframe {
    width: calc(600px * 2 / 3) ;
    /* height: calc(570px * 2 / 3); */
  }
}

@media all and (max-width: 767.98px) {
  main.main .map {
    order: 3;
  }
}

@media all and (max-width: 575.98px) {
  main.main .map {
    width: 100%;
  }
  main.main .map iframe {
    width: 100%;
    height: 300px;
  }
}


main.main .text-blocks {
  display: inline-block;
  vertical-align: top;
  /* border: solid red 1px; */
  width: calc(100% - 600px - 110px);
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  main.main .text-blocks {
    width: calc(100% - 410px);
    /* border: solid red 1px; */
  }
}

@media all and (max-width: 767.98px) {
  main.main .text-blocks {
    width: 100%;
  }
}

main.main .text-blocks .text-block span {
  width: 100%;
  display: block;
  line-height: 1.5rem;

}

main.main .text-blocks .text-block:first-child h3 {
  margin-top: 0;
}


main.main .text-blocks .text-block.transportation li {
  line-height: 1.5rem;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  main.main .text-blocks .text-block.transportation ul {
    padding-left: 20px;
    margin-top: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {}

@media all and (max-width: 767.98px) {}
