body {
  font-family: 'Noto Sans TC', sans-serif;
}

div.intro {
  font-size: 0;
  /* margin-bottom: 40px; */
  width: 1200px;
  margin: 0 auto 40px auto;
  /* border: solid red 1px; */
}

.intro h1 {
  font-size: 2rem;
}

.intro .intro-image .img-block:nth-child(2) {
  margin: 0 15px;
}

.intro .intro-image .img-block {
  display: inline-block;
  position: relative;
  /* border: solid red 1px; */
}

.intro .intro-image .img-block img {
  width: 390px;
  height: 300px;
}

.intro .intro-image .img-block span {
  position: absolute;
  /* bottom: 0; */
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 160px;
  height: 80px;
  line-height: 80px;
  transform: translate(-50%, -50%);
  /* border: solid red 1px; */
  font-size: 1.5rem;
  /* border: solid rgba(9, 105, 16) 2px; */
  background-color: rgba(128, 128, 128, 0.67);
  color: white;
  /* color: #096910; */
  text-align: center;
  transition: background-color .7s;
}

div.img-block:hover span.title {
  background-color: rgba(9, 105, 16, 1);
}

.alert {
  width: 1200px;
  /* margin-bottom: 40px; */
  margin: 0 auto 40px;
  position: relative;
}

.alert .alert-image {
  width: 100%;
  height: 540px;
  /* border: solid red 1px; */
  overflow: hidden;
  position: relative;
}

.alert .alert-image img {
  width: 100%;
  /* height: 140%; */
  position: absolute;
  top: -30%;
 }

.alert .alert-image .text-block {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(40, 37, 36, 0.75);
  padding: 30px 50px 50px 50px;
  /* border: solid red 1px; */
}

.alert .alert-image .text-block a.more {
  color: white;
  font-size: 1.2rem;
  /* border: solid red 1px; */
  display: inline-block;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.alert .alert-image .text-block h2 {
  color: white;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  /* border: solid red 1px; */
}

.alert .alert-image .text-block ol.content {
  padding-bottom: 20px;
  color: white;
  font-size: 1.2rem;
  /* line-height: 2.2rem; */
  overflow: hidden:
  border: solid green 5px;
  margin: 0;
  /* padding: 0; */
  z-index: 100;
}

.alert .alert-image .text-block ol.content li {
  margin: 20px 0;
}

.latest {
  font-size: 0;
  width: 1200px;
  margin: 0 auto;
}

.latest h1 {
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: 2rem;
  margin-top: 0;
}

.latest .text-blocks {
  /* border: solid red 1px; */
  display: flex;
  margin-bottom: 40px;
}

.latest .text-blocks .text-block {
  border: solid #096910 1px;
  height: auto;
  width: 390px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

}

.latest .text-blocks .text-block:nth-child(2) {
  margin: 0 15px;
}

.latest .text-blocks .text-block:nth-child(2) img {
  width: 120%;
}

.latest .text-blocks .text-block span.title {
   /* border: solid red 1px; */
  margin: 10px 0;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px;
  font-size: 1.5rem;
  display: inline-block;
  color: black;
  /* color: #096910; */
}

.latest .text-blocks .text-block p.content {
  padding: 0 5px 5px;
  display: inline-block;
  color: #5d5d5d;
  /* border: solid red 1px; */
  /* color: #096910; */
}

.latest .text-blocks .text-block img {
  width: 390px;
  height: 300px;
}

.latest .text-blocks .text-block a,
.latest .text-blocks .text-block a:visited,
.latest .text-blocks .text-block a:active {
  color: black;
}

.latest .text-blocks .text-block p.content {
  width: 100%;
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.latest .wider-blocks .wider-block {
  display: inline-block;
  position: relative;
  width: 590px;
  height: 400px;
  cursor: pointer;
}

.latest .wider-blocks .wider-block img {
  width: 100%;
  height: 100%;
}

.latest .wider-blocks .wider-block span {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.67);
  /* border: solid red 1px; */
  z-index: 100;
  color: white;
  display: inline-block;
}

.latest .wider-blocks .wider-block:first-child {
  margin-right: 20px;
}

.latest .wider-blocks .wider-block:nth-child(2) {
  overflow: hidden;
}

.latest .wider-blocks .wider-block:nth-child(2) img {
  height: 120%;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  div.intro, div.intro .intro-image {
    width: 768px;
  }

  div.intro .intro-image .img-block {
    object-fit: cover;
  }

  div.intro .intro-image .img-block img {
    width: calc(768px / 3);
    height: calc(768px / 3);
    object-fit: cover;
  }

  .intro .intro-image .img-block:nth-child(2) {
    margin: 0;
  }

  .alert {
    width: 768px;
  }

  .alert .alert-image {
    height: 400px;
  }

  .alert .alert-image img {
    object-fit: cover;
    height: 400px;
    top: 0;
  }
  .alert .alert-image .text-block {
    height: 100%;
    padding: 20px 20px 20px 20px;
  }


  .alert .alert-image .text-block ol.content,
  .alert .alert-image .text-block ol.content li,
  .alert .alert-image .text-block a.more {
    font-size: 1rem;
  }

  .alert .alert-image .text-block h2 {
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .alert .alert-image .text-block ol.content {
    padding-bottom: 0;
    padding-left: 30px;
  }

  .alert .alert-image .text-block a.more {
    margin-left: 30px;
  }

  .latest {
    width: 768px;
  }

  .latest .text-blocks .text-block:nth-child(2) {
    margin: 0;
    border-right: 0;
    border-left: 0;
  }

  .latest .text-blocks .text-block a img {
    object-fit: contain;
    object-position: 0 100%;
    height: 200px;
  }

  .latest .text-blocks .text-block a span.title {
    font-size: 1.2rem;
  }

  .latest .text-blocks .text-block a p.content {
    font-size: 1rem;
  }

  .latest .wider-blocks .wider-block:first-child {
    margin-right: 10px;
  }

  .latest .wider-blocks .wider-block {
    width: calc((100% - 10px) / 2);
  }

  .latest .wider-blocks .wider-block a img {
    object-fit: cover;
  }

}

@media all and (max-width: 767.98px) {
  div.intro {
    width: 576px;
  }

  div.intro .intro-image .img-block img {
    width: calc(576px / 3);
    height: auto;
    /* object-fit: cover; */
  }

  .intro .intro-image .img-block a span.title {
    /* display: none; */
    font-size: 1rem;
    width: 100%;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .intro .intro-image .img-block:nth-child(2) {
    margin: 0;
  }

  .alert {
    width: 576px;
  }

  .alert .alert-image {
    height: 300px;
    width: 100%;
    /* border: solid red 1px; */
  }

  .alert .alert-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    top: 0;
  }

  .alert .alert-image .text-block {
    width: 100%;
    padding: 20px 20px;
    height: 100%;
    color: black;
    /* display: none; */
  }

  .alert .alert-image .text-block h2 {
    margin: 0;
  }

  .alert .alert-image .text-block ol.content {
    margin: 10px 0;
    padding-bottom: 0;
  }

  .alert .alert-image .text-block ol.content li {
    margin: 10px 0 0 0;
    /* padding-left:  */
  }


  .alert .alert-image .text-block ol.content,
  .alert .alert-image .text-block ol.content li,
  .alert .alert-image .text-block a.more {
    font-size: 1rem;
  }

  .alert .alert-image .text-block h2 {
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .latest {
    width: 576px;
  }

  .latest .text-blocks .text-block:nth-child(2) {
    margin: 0;
    border-right: 0;
    border-left: 0;
  }

  .latest .text-blocks .text-block a img {
    object-fit: contain;
    object-position: -50% 50%;
    height: 200px;
  }

  .latest .text-blocks .text-block:nth-child(2) img {
    width: 200%;
  }

  .latest .text-blocks .text-block a span.title {
    font-size: 1.2rem;
  }

  .latest .text-blocks .text-block a p.content {
    font-size: 1rem;
  }

  .latest .wider-blocks .wider-block:first-child {
    margin-right: 10px;
  }

  .latest .wider-blocks .wider-block {
    width: 100%;
  }

  .latest .wider-blocks .wider-block:nth-child(2) {
    margin-top: 20px;
  }

}

@media all and (max-width: 575.98px) {
  div.intro {
    width: 375px;
    /* border: solid red 1px; */
  }

  div.intro .intro-image .img-block:nth-child(2) {
    margin: 0;
    margin: 20px 0;
  }

  div.intro .intro-image .img-block img {
    width: 100%;
    height: auto;
  }

  div.intro h1 {
    margin: 0;
  }

  .alert {
    width: 375px;
  }

  .alert h1 {
    margin: 0;
  }

  .alert .alert-image .text-block h2 {
    /* display: none; */
    margin-bottom: 10px;
  }

  .alert .alert-image .text-block ol {
    padding-left: 20px;
  }

  .alert .alert-image .text-block a.more {
    margin-left: 0px;
    display: block;
    height: 2rem;
    line-height: 2rem;
    padding-left: 20px;
  }

  .latest {
    width: 375px;
  }

  .latest h1 {
    margin-bottom: 0;
  }

  .latest .text-blocks {
    flex-direction: column;
    margin-bottom: 0;
  }

  .latest .text-blocks .text-block {
    display: block;
    width: 100%;
    border: solid black 1px;
    margin: 0;
    margin-bottom: 10px;
  }

  .latest .text-blocks .text-block:nth-child(2) {
    margin: 0;
    margin-bottom: 10px;
    border-right: solid black 1px;
    border-left: solid black 1px;
    /* border-top: 0; */
    /* border-bottom: 0; */
  }

  .latest .text-blocks .text-block a img {
    /* display: none; */
    object-fit: cover;
    height: 100%;
  }

  .latest .text-blocks .text-block:nth-child(2) a img {
    width: 100%;
  }

  .latest .wider-blocks .wider-block a img {
    object-fit: cover;
  }

  .latest .wider-blocks .wider-block span {
    font-size: .9rem;
  }
}
