body {
  font-family: 'Noto Sans TC', sans-serif;
}

.intro {
  font-size: 0;
  margin-bottom: 40px;
}

.intro h1 {
  font-size: 2rem;
}

.intro .intro-image .img-block:nth-child(2) {
  margin: 0 15px;
}

.intro .intro-image .img-block {
  display: inline-block;
  position: relative;
  /* border: solid red 1px; */
}

.intro .intro-image .img-block img {
  width: 390px;
  height: 300px;
}

.intro .intro-image .img-block span {
  position: absolute;
  /* bottom: 0; */
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 160px;
  height: 80px;
  line-height: 80px;
  transform: translate(-50%, -50%);
  /* border: solid red 1px; */
  font-size: 1.5rem;
  /* border: solid rgba(9, 105, 16) 2px; */
  background-color: rgba(128, 128, 128, 0.67);
  color: white;
  /* color: #096910; */
  text-align: center;
  transition: background-color .7s;
}

div.img-block:hover span.title {
  background-color: rgba(9, 105, 16, 1);
}

.alert {
  margin-bottom: 40px;
  position: relative;
}

.alert .alert-image {
  width: 100%;
  height: 540px;
  /* border: solid red 1px; */
  overflow: hidden;
  position: relative;
}

.alert .alert-image img {
  width: 100%;
  height: 140%;
  position: absolute;
  top: -30%;
 }

.alert .alert-image .text-block {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(40, 37, 36, 0.75);
  padding: 30px 50px 50px 50px;
  /* border: solid red 1px; */
}

.alert .alert-image .text-block a.more {
  color: white;
  font-size: 1.2rem;
  /* border: solid red 1px; */
  display: inline-block;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.alert .alert-image .text-block h2 {
  color: white;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  /* border: solid red 1px; */
}

.alert .alert-image .text-block ol.content {
  padding-bottom: 20px;
  color: white;
  font-size: 1.2rem;
  /* line-height: 2.2rem; */
  overflow: hidden:
  border: solid green 5px;
  margin: 0;
  /* padding: 0; */
  z-index: 100;
}

.alert .alert-image .text-block ol.content li {
  margin: 20px 0;
}

.latest {
  font-size: 0;
}

.latest h1 {
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: 2rem;
  margin-top: 0;
}

.latest .text-blocks {
  /* border: solid red 1px; */
  display: flex;
  margin-bottom: 40px;
}

.latest .text-blocks .text-block {
  border: solid #096910 1px;
  height: auto;
  width: 390px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

}

/* .latest .text-blocks .text-block::before {
  content:"";
  transition: background-color .7s;
}

.latest .text-blocks .text-block:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  background-color: rgba(128, 128, 128, 0.67);
  top: 0;
  border: solid red 12px;
}
*/

.latest .text-blocks .text-block:nth-child(2) {
  margin: 0 15px;
}

.latest .text-blocks .text-block:nth-child(2) img {
  width: 120%;
}

.latest .text-blocks .text-block span.title {
   /* border: solid red 1px; */
  margin: 10px 0;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px;
  font-size: 1.5rem;
  display: inline-block;
  color: black;
  /* color: #096910; */
}

.latest .text-blocks .text-block p.content {
  padding: 0 5px 5px;
  display: inline-block;
  color: black;
  /* border: solid red 1px; */
  /* color: #096910; */
}

.latest .text-blocks .text-block img {
  width: 390px;
  height: 300px;
}

.latest .text-blocks .text-block a,
.latest .text-blocks .text-block a:visited,
.latest .text-blocks .text-block a:active {
  color: black;
}

.latest .text-blocks .text-block p.content {
  width: 100%;
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.latest .wider-blocks .wider-block {
  display: inline-block;
  position: relative;
  width: 590px;
  height: 400px;
  cursor: pointer;
}

.latest .wider-blocks .wider-block img {
  width: 100%;
  height: 100%;
}

.latest .wider-blocks .wider-block span {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.67);
  /* border: solid red 1px; */
  z-index: 100;
  color: white;
  display: inline-block;
}

.latest .wider-blocks .wider-block:first-child {
  margin-right: 20px;
}

.latest .wider-blocks .wider-block:nth-child(2) {
  overflow: hidden;
}

.latest .wider-blocks .wider-block:nth-child(2) img {
  height: 120%;
}
