body {
  font-family: 'Noto Sans TC', sans-serif;
}

header.header nav ul li:nth-child(2) a{
  color: #afbf0b;
}

main.main {
  width: 1200px;
  margin: 0 auto;
  /* border: solid red 1px;   */
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  main.main {
    width: 768px;
  }
}


@media all and (max-width: 767.98px) {
  main.main {
    width: 576px;
  }
}

main.main h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 40px 0;
  /* border: solid red 1px; */
}

main.main .cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  main.main .cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
    grid-auto-flow: row;
    grid-auto-rows: auto;
  }
}

@media all and (max-width: 767.98px) {
  main.main .cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 8px;
    grid-auto-flow: row;
    grid-auto-rows: auto;
  }
}


main.main .cards .card a {
  text-decoration: none;
  color: black;
}

main.main .cards .card a[target="latest_detail"]:visited,
main.main .cards .card a[target="latest_detail"]:active {
  color: black;
  /* text-decoration: none; */
}

main.main .cards .card {
  width: 380px;
  /* height: 450px; */
  /* border: solid red 1px; */
  /* display: inline-block; */
}

@media all and (max-width: 767.98px) {
  main.main .cards .card {
    width: 100%;
  }
}

main.main .cards .card .image {
  width: 100%;
  height: 330px;
  overflow: hidden;
}

@media all and (max-width: 767.98px) {
  main.main .cards .card .image {
    height: auto;
  }
}

main.main .cards .card .image img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 767.98px) {
  main.main .cards .card .image img {
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
    display: none;
  }

  main.main .cards .card:nth-child(7) .image img {
    object-position: 50% -100%;
  }
}

main.main .text {
  overflow: hidden;
  /* border: solid green 1px; */
  width: 100%;
  height: calc(100% - 330px);
  padding: 10px;
  border: solid black 1px;
  border-top: 0;
}

@media all and (max-width: 767.98px) {
  main.main .text {
    display: inline-block;
    height: auto;
    border-top: solid black 1px;
    width: 100%;
  }
}

main.main .text h3.title {
  margin: 0;
}

main.main .text span {
  display: inline-block;
  margin: 10px 0;
}

main.main .text p {
  font-size: 1rem;
  text-overflow: ellipsis;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #5d5d5d;
  line-height: 24px;
}
