body {
  font-family: 'Noto Sans TC', sans-serif;
}

header.header nav ul li:nth-child(2) a{
  color: #afbf0b;
}

main.main {
  height: auto;
  margin: 0 auto;
  width: 1200px;
}

main.main .title {
  width: 100%;
  text-align: left;
  margin: 40px 0;
}

main.main .text-block img {
  width: 500px;
  height: 400px;
  margin: 0 40px 40px 0;
  float: left;
}

main.main .text-block {
  width: 100%;
  line-height: 1.5rem;
}

main.main .text-block::after {
  content: "";
  display: block;
  clear: both;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  main.main {
    width: 768px;
  }

}

@media all and (max-width: 767.98px) {
  main.main {
    width: 576px;
  }

  main.main .text-block img {
    width: calc(500px * .7);
    height: calc(400px * .7);
    margin: 0 30px 30px 0;
  }
}

@media all and (max-width: 575.98px) {
  main.main {
    width: 375px;
    padding: 0 10px;
    /* border: solid red 1px; */
  }

  main.main .text-block img {
    width: calc(500px * .6);
    height: calc(400px * .6);
    margin: 0 35px 20px;
  }

  main.main h1.title {
    text-align: center;
  }
}
