body {
  font-family: 'Noto Sans TC', sans-serif;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  main.main {
    width: 768px;
  }
}

@media all and (max-width: 767.98px) {
  main.main {
    width: 576px;
  }
}

@media all and (max-width: 575.98px) {
  main.main {
    width: 375px;
  }
}


.main .result-notice {
  /* border: solid red 1px; */
  text-align: center;
}

@media all and (max-width: 575.98px) {
  main.main .result {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    height: auto;
    padding: 10px;
  }

  main.main .result .title {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: auto;

    border: 0;
  }

  main.main .result .title span {
    border-bottom: solid gray 1px;
    min-width: 100%;
    max-width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: left;
    /* border: solid red 1px; */
  }

  main.main .result .title span:nth-child(4) {
    height: 6rem;
  }

  main.main .result .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0;
  }

  main.main .result .content div{
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    height: 3rem;
    line-height: 3rem;
    border: 0;
    margin-left: auto;
    border-bottom: solid gray 1px;
  }

  main.main .result .content div:nth-child(3) > i {
    line-height: 3rem;
  }

  main.main .result .content div:nth-child(5) {
    height: 6rem;
  }

  main.main .result .content div:nth-child(6) {
    align-items: center;
  }

  main.main .result .content div:nth-child(6) > select {
    height: 2rem;

    width: 100%;
    padding: 0;
  }

  main.main .result .content div:last-child  {
    height: auto;
    line-height: auto;
    padding-top: 10px;
  }

  main.main .result .content div:last-child > button {
    width: 100%;

  }
}

.main .result .title {
  border: solid black 1px;
  height: 52px;
  font-size: 0;
}

.main .result .title span {
  line-height: 52px;
  height: 100%;
  /* border: solid red 1px; */
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}

.main .result .title span.category {
  width: 200px;
  margin-left: 209px;
}

.main .result .title span.people {
  width: 135px;
}

.main .result .title span.price {
  width: 135px;
}

.main .result .title span.info {
  width: 186px;
}

.main .result .title span.rooms {
  width: 165px;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  .main .result .title span.category {
    margin-left: 143px;
    width: 120px;
  }
  .main .result .title span.people {
    width: 95px;
  }
  .main .result .title span.price {
    width: 95px;
  }
  .main .result .title span.info {
    width: 100px;
  }
  .main .result .title span.rooms {
    width: 100px;
  }
}

@media all and (max-width: 767.98px) {
  .main .result .title span.category {
    margin-left: 0;
    width: 135px;
  }
  .main .result .title span.people {
    width: 100px;
  }
  .main .result .title span.price {
    width: 80px;
  }
  .main .result .title span.info {
    width: 100px;
  }
  .main .result .title span.rooms {
    width: 80px;
  }
}

.main .result .content {
  height: auto;
  border: solid black 1px;
  display: flex;
  border-top: 0;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  .main .result .content {
    height: auto;
  }
}


.main .result .content > div {
  border-right: solid black 1px;
  display: flex;
  justify-content: center;
  /* display: inline-block; */
  padding: 10px;
}

.main .result .content > div:last-child {
  border-right: 0;
}

.main .result .content .image-block {
  width: 209px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .result .content .image-block img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.main .result .content .category-block {
  width: 200px;
}

.main .result .content .people-block {
  width: 135px;
  display: flex;
  justify-content: center;
}

.main .result .content .people-block > i {
  margin: 0 5px;
}

.main .result .content .price-block {
  width: 135px;
}

.main .result .content .info-block {
  width: 186px;
}

.main .result .content .rooms-block {
  width: 165px;
}

.main .result .content .rooms-block select {
  padding: 10px;
}

.main .result .content .rooms-block select {
  width: 125px;
  height: 45px;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  .main .result .content .image-block {
    width: 143px;
  }

  .main .result .content .category-block {
    width: 120px;
  }

  .main .result .content .people-block {
    width: 95px;
  }

  .main .result .content .price-block {
    width: 95px;
  }

  .main .result .content .info-block {
    width: 100px;
  }

  .main .result .content .rooms-block {
    width: 100px;
  }
}

@media all and (max-width: 767.98px) {
  .main .result .content .image-block {
    display: none;
  }

  .main .result .content .category-block {
    width: 135px;
  }

  .main .result .content .people-block {
    width: 100px;
  }

  .main .result .content .price-block {
    width: 80px;
  }

  .main .result .content .info-block {
    width: 100px;
  }

  .main .result .content .rooms-block {
    width: 80px;
  }
}

.main .result .content .confirm-block {
  width: calc(100% - 209px - 200px - 135px - 135px - 186px - 165px);
}

.main .result .content .confirm-block button {
  width: 125px;
  height: 45px;
  color: white;
  background-color: #04660B;
  cursor: pointer;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  .main .result .content .confirm-block {
    width: calc(100% - 143px - 120px - 95px - 95px - 100px - 100px);
  }

  .main .result .content .confirm-block button {
    width: 125px;
  }

}
  @media all and (max-width: 767.98px) {
    .main .result .content .confirm-block {
      width: calc(100% - 135px - 100px - 80px - 100px - 80px);
    }

    .main .result .content .confirm-block button {

    }
  }
