body {
  font-family: 'Noto Sans TC', sans-serif;
}

.banner {
  /* border: solid red 1px; */
  /* margin-top: 100px; */
  margin: 100px auto 0;
  height: 540px;
  width: 1200px;
  background-image: url("../images/scene.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.banner span.title {
  position: absolute;
  color: white;
  font-size: 3rem;
  top: 35%;
  left: 100px;
}

.banner span.sub-title {
  position: absolute;
  color: white;
  font-size: 2rem;
  top: 47%;
  left: 160px;
}

.banner span.sub-title::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: -60px;
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  .banner {
    width: 768px;
    height: 400px;
    background-size: cover;
  }
  .banner span.title {
    left: calc(100px * 0.8);
  }

  .banner span.sub-title {
    left: calc(160px * 0.8);
    top: calc(47% / 0.9);
  }
  .banner span.sub-title::before {
    left: calc(-60px * 0.8);
    width: calc(50px * 0.8);
  }
}

@media all and (max-width: 767.98px) {
  .banner {
    width: 576px;
    height: 350px;
    background-size: cover;
  }

  .banner span.title {
    left: calc(100px * 0.8 * 0.8);
  }

  .banner span.sub-title {
    left: calc(160px * 0.8 * 0.8);
    top: calc(47% / 0.9);
  }

  .banner span.sub-title::before {
    left: calc(-60px * 0.8 * 0.8);
    width: calc(50px * 0.8 * 0.8);
  }

}

@media all and (max-width: 575.98px) {
  .banner {
    width: 375px;
    /* width: 90%; */
    height: 350px;
    background-size: cover;
    /* margin-top: 70px; */
    margin: 70px auto 0 auto;
  }

  .banner span.title {
    left: calc(100px * 0.8 * 0.8 * 0.8);
    font-size: 2.5rem;
  }

  .banner span.sub-title {
    left: calc(160px * 0.8 * 0.8 * 0.93);
    top: calc(47% / 0.9);
    font-size: 1.76rem;
  }

  .banner span.sub-title::before {
    left: calc(-60px * 0.8 * 0.85);
    width: calc(50px * 0.8 * 0.8);
  }
}
