body {
  font-family: 'Noto Sans TC', sans-serif;
}

.banner {
  /* border: solid red 1px; */
  margin-top: 100px;
  margin: 100px auto 0;
  height: 540px;
  width: 1200px;
  background-image: url("../images/scene.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.banner span.title {
  position: absolute;
  color: white;
  font-size: 3rem;
  top: 35%;
  left: 100px;
}

.banner span.sub-title {
  position: absolute;
  color: white;
  font-size: 2rem;
  top: 47%;
  left: 160px;
}

.banner span.sub-title::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: -60px;
}

@media screen and (max-width: 1200px) {
  .banner {
    width: 768px;
    height: 400px;
    background-size: cover;
  }
}
