body {
  font-family: 'Noto Sans TC', sans-serif;
}

footer.footer {
  width: 100%;
  /* width: 1200px; */
  height: auto;
  margin: 0 auto;
  /* border: solid red 1px; */
  /* border-top: solid black 1px; */
  /* margin-top: 15px; */
  background-color: #096910;
  padding-bottom: 5px;
  margin-top: 40px;
}

footer.footer span.title {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 30px auto 15px auto;
  color: white;
}

footer.footer .img-block {
  display: inline-block;
  margin: 0 auto;
  /* border: solid red 1px; */
  width: 100%;
  /* width: 1200px; */
  text-align: center;
  height: 30px;
  /* display: flex;
  justify-content: center; */
}

footer.footer .img-block img {
  width: 2rem;
  height: 2rem;
  margin: 0 10px;
  cursor: pointer;
}

footer.footer .img-block img:last-child {
  padding: 5px 0;
}

footer.footer p.notice {
  display: block;
  vertical-align: center;
  max-width: 600px;
  width: 1200px;
  height: auto;
  /* border: solid red 1px; */
  margin: 30px auto;
  padding: 0 20px;
  color: white;
  
}

@media all and (min-width: 768px) and (max-width: 1199.98px) {
  footer.footer {
    width: 100%;
  }

  footer.footer .img-block {
    display: inline-block;
    margin: 0 auto;
    /* border: solid red 1px; */
    /* width: 100%; */
  }
}

@media all and (max-width: 767.98px) {
  footer.footer {
    width: 100%;
  }

  footer.footer p.notice {
    /* width: 100%; */
    /* max-width: 450px; */
  }

  footer.footer .img-block {
    display: inline-block;
    margin: 0 auto;
    /* border: solid red 1px; */
    /* width: 100%; */
  }
}
