* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  /* border: solid red 1px; */
}

header.header {
  width: 1200px;
  height: 100px;
  /* border: solid red 1px; */
  font-size: 0;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* margin: 0 auto; */
  z-index: 200;
  background-color: white;
}

header.header img.logo {
  width: 250px;
  height: 100%;
  /* border: solid black 1px; */
}

header.header nav {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin-left: 275px;
  /* border: solid red 1px; */
}

header.header nav ul {
  height: 100%;
  list-style: none;
  padding: 0;
}

header.header nav ul li {
  margin-left: 30px;
  height: 100%;
}

header.header nav ul li:first-child {
  margin-left: 0;
  vertical-align: top;
}

header.header img.logo, header.header nav, header.header nav ul, header.header nav ul li {
  display: inline-block;
}

header.header nav ul li a{
  text-decoration: none;
  line-height: 100px;
  font-size: 1rem;
  color: #04660B;
}

header.header nav ul li a:active {
  color: #04660B;
}

header.header nav ul li a:visited {
  color: #04660B;
}

header.header nav ul li:last-child > a {
  background-color: #04660B;
  color: white;
  border: 0;
  font-size: 1rem;
  padding: 10px 15px;
  text-decoration: none;
}

header.header .container {
  display: none;
}



@media all and (min-width: 768px) and (max-width: 1199.98px) {
  header.header {
    width: 768px;
    font-size: 0;
  }

  header.header nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    height: auto;
  }

  header.header nav.-on {
    display: inline-block;
  }

  header.header nav ul {
    width: 100%;
  }

  header.header nav ul li {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    /* border: solid red 1px; */
    border-bottom: solid gray 1px;
    margin: 0;
    text-align: center;
    background-color: white;
  }

  header.header nav ul li a{
    display: inline-block;
    line-height: 50px;
    height: 50px;
    /* border: solid red 1px; */
  }

  header.header nav ul li:last-child {
    display: none;
  }

  header.header .container {
    display: inline-block;
    /* border: solid red 1px; */
    width: calc(100% - 250px);
    vertical-align: top;
    height: 100%;
    line-height: 100px;
    font-size: 1rem;
  }

  /* header.header .container a,
  header.header .container .hamburger {
    display: inline-block;
  } */

  header.header .container label.hamburger {
    margin-left: 370px;
  }

  header.header .container a {
    background-color: #04660B;
    line-height: 100px;
    color: white;
    border: 0;
    font-size: 1rem;
    padding: 10px 15px;
    margin-left: 20px;
    text-decoration: none;
    vertical-align: top;
  }

  header.header .container button.hamburger {
    margin-left: calc(100% - 160px);
    padding: 0;
    vertical-align: top;
    /* border: solid red 1px; */

  }

  header.header .container button.hamburger span.hamburger-box {
    vertical-align: middle;
    /* line-height: 100px; */
  }
}

@media all and (max-width: 767.98px) {
  header.header {
    width: 576px;
    /* border: solid red 1px; */
  }

  header.header nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    height: auto;
  }

  header.header nav.-on {
    display: inline-block;
  }

  header.header nav ul {
    width: 100%;
  }

  header.header nav ul li {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: solid gray 1px;
    margin: 0;
    text-align: center;
    background-color: white;
  }

  header.header nav ul li a{
    display: inline-block;
    line-height: 50px;
    height: 50px;
  }

  header.header nav ul li:last-child {
    display: none;
  }

  header.header .container {
    display: inline-block;
    /* border: solid red 1px; */
    width: calc(100% - 250px);
    vertical-align: top;
    height: 100%;
    line-height: 100px;
    font-size: 1rem;
  }

  /* header.header .container span, */
  /* header.header .container a,
  header.header .container .hamburger {
    display: inline-block;
  } */

  header.header .container .hamburger {
    margin-left: 370px;
  }

  header.header .container a {
    height: auto;
    background-color: #04660B;
    color: white;
    border: 0;
    font-size: 1rem;
    padding: 10px 15px;
    margin-left: 20px;
    text-decoration: none;
    vertical-align: top;
    line-height: 100px;
  }

  header.header .container .hamburger {
    margin-left: calc(100% - 160px);
    padding: 0;
    vertical-align: top;
    /* border: solid red 1px; */
  }

  header.header .container .hamburger span.hamburger-box {
    vertical-align: middle;
    /* line-height: 100px; */
  }
}

@media all and (max-width: 575.98px) {
  header.header {
    width: 376px;
    height: 70px;
    margin: 0 auto;
    border: solid white 1px;
  }

  header.header img.logo {
    width: calc(250px * .7);
    height: 100%;
    /* border: solid black 1px; */
  }

  header.header .container {
    /* border: solid red 1px; */
    width: calc(100% - (250px * .7));
    height: 100%;
    /* line-height: 70px; */
  }

  header.header div.container .hamburger,
  header.header div.container a {
    vertical-align: top;
    height: 100%;
    line-height: 70px;
    /* border: solid red 1px; */
  }

  header.header .container a {
    margin-left: 5px;
  }

  header.header .container .hamburger {
    margin-left: calc(100% - 94px - 60px);
  }

  /*
    header.header nav ul li {
      display: block;
      width: 100%;
      height: 50px;
      line-height: 50px;

      border-bottom: solid gray 1px;
      margin: 0;
      text-align: center;
      background-color: white;
    }

    header.header nav ul li a{
      display: inline-block;
      line-height: 50px;
      height: 50px;
    } */
}
