body {
  font-family: 'Noto Sans TC', sans-serif;
}

.search {
  /* border: solid red 1px; */
  /* width: 100%; */
  width: 1200px;
  font-size: 0;
  margin: 20px auto 40px;

}

/* .search input,
.search select,
.search a {
  border: solid red 5px;
} */

.search input[type="date"] {
  width: 377px;
  height: 68px;
  font-size: 1rem;
  vertical-align: top;
  cursor: pointer;
  /* border: solid #d6ff00 5px; */
  padding: 10px;
  border-right: 0;
  border-top: solid gray 1px;
  border-left: solid gray 1px;
  border-bottom: solid gray 1px;
}

.search select {
  width: 281px;
  height: 68px;
  font-size: 1rem;
  vertical-align: top;
  cursor: pointer;
  padding: 10px;
  border-right: 0;
  border-top: solid gray 1px;
  border-left: solid gray 1px;
  border-bottom: solid gray 1px;
  /* border: solid #d6ff00 5px; */
}

.search button {
  color: white;
  background-color: #04660B;
  width: calc(100% - 377px - 377px - 281px);
  height: 68px;
  font-size: 1rem;
  /* border: 0; */
  cursor: pointer;
  vertical-align: top;
  /* border: solid #d6ff00 5px; */
}


@media screen and (max-width: 1200px) {
  .search {
    width: 768px;
  }

  .search input[type="date"] {
    width: 210px;
    height: 68px;
  }

  .search select {
    width: 210px;
    height: 68px;
  }

  .search button {
    width: calc(100% - 210px - 210px - 210px);
  }
}
